alembic==1.7.5
appdirs==1.4.4
async-generator==1.10
attrs==21.4.0
Click==7.0
distlib==0.3.4
filelock==3.4.2
Flask==1.1.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
h11==0.13.0
html-testRunner==1.2.1
httplib2==0.14.0
idna==3.3
importlib-metadata
importlib-resources
itsdangerous==2.0.1
Jinja2==2.10.1
Mako==1.1.6
MarkupSafe==2.0.1
oauthlib==3.1.0
outcome==1.1.0
pep8==1.7.1
psycopg2-binary==2.8.6
PyJWT==1.7.1
pymongo==4.0.1
python-dateutil==2.7.3
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.27
sqlparse==0.4.2
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.7
virtualenv==20.0.17
Werkzeug==0.16.1
wsproto==1.0.0
zipp==3.7.0
