Click==7.0
Flask==1.1.1
Flask-PyMongo==2.3.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
html-testRunner==1.2.1
httplib2==0.14.0
importlib-metadata==4.8.2
Jinja2==2.10.1
oauthlib==3.1.0
pep8==1.7.1
psycopg2-binary==2.8.6
PyJWT==1.7.1
python-dateutil==2.7.3
selenium==4.1.0
simplejson==3.16.0
SQLAlchemy==1.4.27
sqlparse==0.4.2
urllib3==1.26.7
Werkzeug==0.16.1