@font-face {
  font-family: "Muli-Regular";
  src: url("../fonts/muli/Muli-Regular.ttf"); }
@font-face {
  font-family: "Muli-SemiBold";
  src: url("../fonts/muli/Muli-SemiBold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Muli-Regular";
  font-size: 14px;
  margin: 0;
  /* background-image: url("https://image.freepik.com/free-photo/old-black-background-grunge-texture-dark-wallpaper-blackboard-chalkboard-room-wall_1258-28312.jpg"); */
  background-color: #B0E0E6 !important;

}
.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img1{
  top:-65px;
  position: relative;
}
.form {
  top: 150px;
  position: relative;
  width: 150%;
  max-width: 450px;
 
  padding: 80px 40px 40px;
  /* overflow-y: auto; */
  left: -190px;
  
  
  border-radius: 10px;
  background-color: #ccffe0;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}
.form::before {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}

.form img {
  position: absolute;
  top: 30px;
  left: calc(50% - 50px);
  width: 100px;
  background-color:#8cd9b3;
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #048654;
}
.form .input-group {
  position: relative;

}

.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: black !important;
}

.form .input-group input:focus + label,
.form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #048654;
  font-size: .8rem;
  
}

.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #048654;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
#headd{
  text-align: center;
  color: black;
  top:-60px;
  position: relative;
  font-size: large;
}

input, textarea, select, button {
  font-family: "Muli-Regular"; }



img {
  max-width: 100%; }

ul {
  padding-left: 0;
  margin-bottom: 0; }

a {
  text-decoration: none; }

:focus {
  outline: none; }

.wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B0E0E6;
}

.inner {
  position: relative;
  width: 435px; }

.image-1 {
  position: relative;
  bottom: -120px;
  right: -600px;
  z-index: 9; 
  height: 50%;
}



form {
  width: 200%;
  position: relative;
  z-index: 9;
  padding: 77px 61px 66px;
  background-color: #B0E0E6;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }

h3 {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Muli-SemiBold";
  color: black;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 33px; }

.form-holder {
  position: relative;
  margin-bottom: 21px; }
  .form-holder span {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: white; }
    .form-holder span.lnr-lock {
      left: 2px; }
      .form-control {
        border: none;
        border-bottom: 1px solid #048654;
        display: block;
        width: 100%;
        height: 38px;
        background: none;
        padding: 3px 42px 0px;
        color: black;
        font-family: "Muli-SemiBold";
        font-size: 16px; }
        .form-control::-webkit-input-placeholder {
          font-size: 14px;
          font-family: "sans-serif";
          color: black;
          transform: translateY(1px); }
        .form-control::-moz-placeholder {
          font-size: 14px;
          font-family: "sans-serif";
          color: black;
          transform: translateY(1px); }
        .form-control:-ms-input-placeholder {
          font-size: 14px;
          font-family: "Muli-Regular";
          color: #999;
          transform: translateY(1px); }
        .form-control:-moz-placeholder {
          font-size: 14px;
          font-family: "Muli-Regular";
          color: #999;
          transform: translateY(1px); }
        .form-control:focus {
          border-bottom: 1px solid #accffe; }
      
      button {
        border: none;
        width: 100%;
        height: 49px;
        margin-top: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: #048654;
        color: #fff;
        text-transform: uppercase;
        font-family: "Muli-SemiBold";
        font-size: 15px;
        letter-spacing: 2px;
        transition: all 0.5s;
        position: relative;
        overflow: hidden; }
        button span {
          position: relative;
          z-index: 2; }
        button:before, button:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba(52, 152, 253, 0.25);
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          -o-transition: all 0.3s;
          transition: all 0.3s;
          -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
          -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
        button:after {
          -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s; }
        button:hover:before, button:hover:after {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0); }
      

@media (max-width: 991px) {
  .inner {
    width: 400px;
    left: 4%; } }
@media (max-width: 767px) {
  .inner {
    width: 100%;
    left: 0; }

  .image-1, .image-2 {
    display: none; }

  form {
    padding: 35px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none; }

  .wrapper {
    background: none; } }

/*# sourceMappingURL=style.css.map */