<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Doctor Homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/font-awesome.min.css">
	<!-- ============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/main.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="../../static/doctorcss/metisMenu/metisMenu-vertical.css">
    <!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="../../static/doctorcss/style.css">
        <link rel="stylesheet" href="../../static/doctorcss/profile.css">
        <link rel="stylesheet" href="../../static/doctorcss/profile2.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/responsive.css">
</head>

<body>
        <div class="left-sidebar-pro">
            <nav id="sidebar" class="">
                <div class="sidebar-header">
                    <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    <strong><img src="img/logo/logosn.png" alt="" /></strong>
                </div>
                <div class="nalika-profile">
                    <div class="profile-dtl">
                        <a href="#"><img src="img/notification/4.jpg" alt="" /></a>
                        <h2>Lakian <span class="min-dtn">Das</span></h2>
                    </div>
                    
                </div>
                <div class="left-custom-menu-adp-wrap comment-scrollbar">
                    <nav class="sidebar-nav left-sidebar-menu-pro">
                        <ul class="metismenu" id="menu1">
                            <li class="active">
                                <!-- <a class="has-arrow" href="index.html">
                                       <i class="icon nalika-home icon-wrap"></i>
                                       <span class="mini-click-non">Ecommerce</span>
                                    </a> -->
                                <ul class="submenu-angle" aria-expanded="true">
                                    <!-- <li><a title="Dashboard v.1" href="index.html"><span class="mini-sub-pro">Dashboard v.1</span></a></li> -->
                                    
                                    <li><a title="Patient List" href="home.html"><span class="mini-sub-pro">Home</span></a></li>
                                    <li><a title="Patient Cart" href="patientlist.html"><span class="mini-sub-pro">Patient List</span></a></li>
                                    <li><a title="Patient Cart" href="profil.html"><span class="mini-sub-pro">Profile</span></a></li>
                                </ul>
                            </li> 
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
													<i class="icon nalika-menu-task"></i>
												</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">
                                            <div class="breadcome-heading">
												<form role="search" class="">
													<input type="text" placeholder="Search..." class="form-control">
													<a href=""><i class="fa fa-search"></i></a>
												</form>
											</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-cart-area mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-cart-inner">
                            <div id="example-basic">
                                <section>
                                    <!-- <h3 class="product-cart-dn">Shopping</h3> -->
                                    <div class="product-list-cart">
                                        <div class="product-status-wrap border-pdt-ct">
                                            <table>
                                                <tr>
                                                    <!-- <th></th> -->
                                                    <th>Prescription ID</th>
                                                    <th>Patient ID</th>
                                                    <th>Patient Name</th>
                                                    <th>Age</th>
                                                    <th>Gender</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <h3>Patient</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    
                                                    <td>18</td>
                                                    <td>
                                                        <p>Male</p>
                                                    </td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <p>321</p>
                                                    </td>
                                                    <td>
                                                        <h3>Patient</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    
                                                    <td>17</td>
                                                    <td>
                                                        <p>Male</p>
                                                    </td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <h3>Patient</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    
                                                    <td>15</td>
                                                    <td>
                                                        <p>Male</p>
                                                    </td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <h3>Patient</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    
                                                    <td>12</td>
                                                    <td>
                                                        <p>Male</p>
                                                    </td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <p>1254</p>
                                                    </td>
                                                    <td>
                                                        <h3>Patient</h3>
                                                        <p>Lorem ipsum dolor sit consec te imperdiet iaculis ipsum.</p>
                                                    </td>
                                                    
                                                    <td>18</td>
                                                    <td>
                                                        <p>Male</p>
                                                    </td>
                                                    <td>
                                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2022 <a href="/">Group-C</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <!-- bootstrap JS
		============================================ -->
    <script src="../../static/js/bootstrap.min.js"></script>
	<!-- ============================================ --> 
    <script src="../../static/js/tab.js"></script>
	<!-- ============================================ --> 
    <script src="../../static/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="../../static/js/main.js"></script>
</body>

</html>