<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Patient List</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/font-awesome.min.css">
	<!-- ============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/main.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="../../static/doctorcss/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="../../static/doctorcss/metisMenu/metisMenu-vertical.css">
    <!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="../../static/doctorcss/style.css">
        <link rel="stylesheet" href="../../static/doctorcss/prescribe.css">
        <link rel="stylesheet" href="../../static/doctorcss/profile.css">
        <link rel="stylesheet" href="../../static/css/style.css">
    <!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="../../static/doctorcss/responsive.css">
        <!-- <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css'> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <style>
        .submenu-angle li:hover {
        background-color: rgb(7, 164, 175) !important;
      }
      .mini-sub-pro, span{
        color:black !important;
    }
    </style>
</head>

<body>
    <header class="l-header" id="header">
        <nav class="nav bd-container">
            <a  class="nav__logo">EAPR</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="{{ url_for('userHomePage', role=data, user_id=data2) }}" class="nav__link">Home</a></li>
                    <li class="nav__item"><a href="{{ url_for('doctorUsersPage', doctor_id=data2) }}" class="nav__link">Patients</a></li>
                    <li class="nav__item"><a href="{{ url_for('doctorPrescribePage', doctor_id=data2) }}" class="nav__link">Prescribe</a></li>
                    <li class="nav__item"><a href="/" class="nav__link">Logout</a></li>
    
    
                    <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
                </ul>
            </div>
    
            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header><br><br><br>
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="" style="background-color: #70c99d; margin-top: -5px;">
          <div class="sidebar-header" style="background-color: #70c99d">
            <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
            <strong><img src="img/logo/logosn.png" alt="" /></strong>
          </div>
          <div class="nalika-profile" style="background-color: #70c99d; ">
            <div class="profile-dtl">
              <a href="#"><img src="/static/prescribe-img/demo.png" alt="" /></a>
              <h2 style="color:black">Doctor</span></h2>
            </div>
    
          </div>
          <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
              <ul class="metismenu" id="menu1">
                <li class="active">
                  <!-- <a class="has-arrow" href="index.html">
                                           <i class="icon nalika-home icon-wrap"></i>
                                           <span class="mini-click-non">Ecommerce</span>
                                        </a> -->
                  <ul class="submenu-angle" aria-expanded="true" style="background-color: #70c99d;">
                                    <!-- <li><a title="Dashboard v.1" href="index.html"><span class="mini-sub-pro">Dashboard v.1</span></a></li> -->
                                    
                                    <li style="border-top: 1px solid #5c8774;"><a href="{{ url_for('userHomePage', role=data, user_id=data2) }}"><span class="mini-sub-pro">Home</span></a></li>
                                    <li><a href="{{ url_for('doctorUsersPage', doctor_id=data2) }}"><span class="mini-sub-pro">Patients</span></a></li>
                                    <li><a href="{{ url_for('doctorProfilePage', doctor_id=data2) }}"><span class="mini-sub-pro">Profile</span></a></li>
                                    <li style="border-bottom: 1px solid #5c8774;"><a href="{{ url_for('doctorPrescribePage', doctor_id=data2) }}"><span class="mini-sub-pro">Prescribe</span></a></li>
                                </ul>
                            </li> 
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        
        <div class="product-cart-area mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-cart-inner" style="background-color: #b0e0e6;">
                            <div id="example-basic">
                                <section>
                                    <!-- <h3 class="product-cart-dn">Shopping</h3> -->
                                    <div class="product-list-cart">
                                        <div class="product-status-wrap border-pdt-ct">
                                            <table style="background-color: #e5eeff;">
                                                <tr style="background-color: #70c99d">
                                                    <th>Patient ID</th>
                                                    <th>Patient Name</th>
                                                    <th>Age</th>
                                                    <th>Gender</th>
                                                    <th>Contact Number</th>
                                                    <th></th>
                                                </tr>
                                                {% for pat in patient_data %}
                                                    <tr>
                                                        <td>
                                                            <p>{{ pat.patient_id }}</p>
                                                        </td>
                                                        <td>
                                                            <h3>{{ pat.patient_name }}</h3>
                                                            <p>{{ pat.address }}</p>
                                                        </td>
                                                        
                                                        <td>{{ pat.age }}</td>
                                                        <td>
                                                            <p>{{ pat.gender }}</p>
                                                        </td>
                                                        <td>
                                                            <p>{{ pat.phone}}</p>
                                                        </td>
                                                        <td>
                                                            
                                                            <form action="{{ url_for('patientSummary', doctor_id=data2, patient_id=pat.patient_id) }}" method="get">
                                                                <button type="submit" class="btn btn-primary">View Summary</button></a>
                                                              </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

    <!-- jquery
		============================================ -->
    <!-- bootstrap JS
		============================================ -->
    <script src="../../static/js/bootstrap.min.js"></script>
	<!-- ============================================ --> 
    <script src="../../static/js/tab.js"></script>
	<!-- ============================================ --> 
    <script src="../../static/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="../../static/js/main.js"></script>
</body>

</html>