<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form method="post" >
  <label for="patient_id">patient_id:</label><br>
  <input type="number" name="patient_id"  ><br>
  <label for="medication_item">medication_item:</label><br>
  <input type="text" name="medication_item"><br><br>
  
  <label for="route">Route:/label><br>
  <input type="text" name="route"><br><br>
  <label for="dosage_instruction">dosage_instruction:</label><br>
  <input type="text" name="dosage_instruction"><br><br>
  <label for="additional_instruction">additional_instruction:</label><br>
  <input type="text" name="additional_instruction"><br><br>
   <label for="reason">reason:</label><br>
  <input type="text" name="reason"><br><br>
  
  <label for="dose">dose:</label><br>
  <input type="number" name="dose"><br><br>
  
  <label for="dose_unit">dose_unit:</label><br>
  <input type="text" name="dose_unit"><br><br>
  <label for="frequency_per_day">frequency_per_day:</label><br>
  <input type="text" name="frequency_per_day"><br><br>
  
  <label for="status">status:</label><br>
  <input type="text" name="status"><br><br>
  
  <label for="date_discontinued">date_discontinued:</label><br>
  <input type="date" name="date_discontinued"><br><br>
  
  <label for="date_written">date_written:</label><br>
  <input type="date" name="date_written"><br><br>
  
  
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>
</html>

