<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
	<h1 id = "heading " > Welcome to Our OpenEHR! :)</h1>
    <h3 id ="content" > Your'e required to Sign-In if your'e already our User or Simply Register with us :) <h3>

     
      <button><a href="">About-Us</a></button>
      <button><a href ="">Contact Us</a></button>
      <button><a href="doctorsignup">Docter Signup </a></button>
      <button><a href ="pharmasignup">Pharmacist Signup </a></button>
      <button><a href ="patientsignup">Sign-Up for Patient</a></button>
      <br>
      <br>
      <br>
      <button><a href="signin">Sign-In Common For ALL</a></button>
      
      
      
  </body>
</html>