<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
     <!--========== CSS ==========-->
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
      <i class='bx bx-chevron-up scrolltop__icon'></i>
  </a>
  <!--========== HEADER ==========-->
  <header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="#" class="nav__logo">CMR</a>


        



        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="#home" class="nav__link active-link">AboutUs</a></li>
                <li class="nav__item"><a href="pharmasignup" class="nav__link">Pharmacists</a></li>
                <li class="nav__item"><a href="doctorsignup" class="nav__link">Doctors</a></li>
                <li class="nav__item"><a href="patientsignup" class="nav__link">Users</a></li>
                <li class="nav__item"><a href="#contact" class="nav__link">Contact us</a></li>


                <li><i class='bx bx-moon change-theme' id="theme-button"></i></li>
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<main class="l-main">
    <!--========== HOME ==========-->
    <section class="home" id="home">
        <div class="home__container bd-container bd-grid">
            <div class="home__data">
                <h1 class="home__title">Healthcare Website</h1>
                <h2 class="home__subtitle">To avail the best facilities<br>Sign-in Now</h2>
                <a href="signin" class="button">Sign-in</a>
            </div>

            <img src="/static/home.gif" alt="" class="home__img">
        </div>
    </section>
    

    
    <!--========== CONTACT US ==========-->
    <section class="contact section bd-container" id="contact">
        <div class="contact__container bd-grid">
            <div class="contact__data">
                <span class="section-subtitle contact__initial">Let's talk</span>
                <h2 class="section-title contact__initial">Contact us</h2>
                <p class="contact__description">If you want to ask any query or want to give suggestions , contact us and we will attend you quickly, with our 24/7 chat service.</p>
            </div>

            <div class="contact__button">
                <a href="#" class="button">Contact us now</a>
            </div>
        </div>
    </section>
</main>

<!--========== FOOTER ==========-->
<footer class="footer section bd-container">
    <div class="footer__container bd-grid">
        <div class="footer__content">
            <a href="#" class="footer__logo">Healthcare</a>
            <span class="footer__description">Website</span>
            <div>
                <a href="#" class="footer__social"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-instagram'></i></a>
                <a href="#" class="footer__social"><i class='bx bxl-twitter'></i></a>
            </div>
        </div>   

    <p class="footer__copy">&#169; 2022 GroupC. All right reserved</p>
</footer>

<!--========== SCROLL REVEAL ==========-->
<script src="https://unpkg.com/scrollreveal"></script>

<!--========== MAIN JS ==========-->
<script src="/static/js/main.js"></script>
</body>
</html>
