<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'login.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  </head>
  <body>
    <form action="/dashboard" method ="POST">
      <nav id="iconi">
        <a href="/"><i class="fas fa-home fa-4x" style="font-size:48px;color: #048654"></i></a> 
        </nav>
      <h3 id="head">Please Login to avail best facilities :) </h3>

      
      <main class="container">
        <form action="">

          <div class="input-field">
            <input type="text" placeholder="Enter E-mail" name="mail" required>
            <div class="underline"></div>
          </div>
    
          <div class="input-field">
            <input type="password" placeholder="Enter Password" name="psw" id="password" required>
            <span>
              <i class="fas fa-eye" onclick="show()" aria-hidden="true" id="eye"></i> 
      
            </span>
            <div class="underline"></div>
          </div>

          <column>
            <input type="submit" value="SignUp">
            <input type="checkbox"  checked="checked" name="remember"> Remember me
          </column>
        </form>
      
      </main>    
  <p>{{data}}</p>
  </body>
  <script>
    function show() {
      var password = document.getElementById("password");
      var icon = document.querySelector(".fas");

      // ========== Checking type of password ===========
      if (password.type === "password") {
        password.type = "text";
      } else {
        password.type = "password";
      }
    }
  </script>
</html>