<!--  <div class="modal" id="myModal1"> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>


    <div class="modal-dialog modal-lg">
        <div id="content" style="background-color: #f1f1f1;" class="modal-content">

            <!-- Modal Header-->
            <div class="modal-header">
                <h3 class="modal-title w-100 text-center"><b>E-PRESCRIPTION</b></h3>
                <!-- <button type="button" class="close" data1-dismiss="modal">&times;</button> -->
            </div> 




<!--  -->
            <!-- Modal body -->
            <div class="modal-body">
                <!-- adding Bootstrap Form here -->

                <form id="myForm" class="needs-validation" novalidate>
                    <div id="content" class="container ml-5">
                        <h4><b>Medication Details</b></h4><br>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Prescription ID</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][0].prescription_id}}</p>  
                               
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Patient ID</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][0].patient_id}}</p>  
                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Medication Item</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][0].medication_item}}</p>  
                              
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Route</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][0].route}}</p>  
                              
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Dosage Instructions</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][0].dosage_instruction}}</p>  
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Additional Instructions</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][0].additional_instruction}}</p>  
                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Reason</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][0].reason}}</p>  
                          
                            </div>
                        </div>
                       <br><br>
                 
                        <h4><b>Dose Directions</b></h4><br>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Dose</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][1].dose}}</p>  
                             
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Dose Unit</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][1].dose_unit}}</p>  
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Frequency (Per/Day)</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][1].frequency_per_day}}</p>  
                            </div>
                        </div>
                        
                        <br><br>

                        <h4><b>Course Summary</b></h4><br>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Status</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][2].status}}</p>  
                              
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Date Discontinued</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][2].date_discontinued}}</p>  
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Date Written</label>
                            <div class="col-sm-10">
                                <p class="mt-2">{{data1[0][2].date_written}}</p>  
                               
                            </div>
                        </div>
                       
                    </div>
                </form>
            </div>
            <div id="editor"></div>
            <div class="text-center" >
            <button type="button" class="btn btn-success mb-3" id="cmd">DOWNLOAD</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };
         
         
        $('#cmd').click(function () {
            doc.fromHTML($('#content').html(), 15, 15, {
                'width': 700,
                'elementHandlers': specialElementHandlers
            });
            doc.save('e-prescription.pdf');
        });
        </script>
  
