<div class="modal-dialog modal-lg">
    <div class="modal-content">

        <!-- Modal Header-->
        <div class="modal-header">
            <h4 class="modal-title w-100 text-center">Past Illness History</h4>
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        </div> 




<!--  -->
        <!-- Modal body -->
        <div class="modal-body">
            <!-- adding Bootstrap Form here -->
                            
             <form id="myForm3" action="{{ url_for('doctorPastIllnessPage', doctor_id=data2) }}" method="post">
                <div class="container">
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Patient ID</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="name_id" name="pid"
                                placeholder="Enter patient ID" required />
                            <div class="invalid-feedback">
                                Please choose a Patient ID.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Problem Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name_id" name="problem_name"
                                placeholder="Enter Problem Name" required />
                            <div class="invalid-feedback">
                                Please choose a Problem Name.
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Body Site</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name_id" name="body_site"
                                placeholder="Enter Body Site" required />
                            <div class="invalid-feedback">
                                Please choose a Body Site.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Date Onset</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="name_id" name="date_onset"
                                placeholder="Enter Date Onset" required />
                            <div class="invalid-feedback">
                                Please choose a Date Onset.
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Severity</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name_id" name="severity"
                                placeholder="Enter Severity" />
                            <div class="invalid-feedback">
                                Please choose Severity .
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Procedure Type</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name_id" name="procedure_type"
                                placeholder="Enter your Procedure Type" />
                            <div class="invalid-feedback">
                                Please choose Procedure Type.
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </div>
            </form>

                <script>

                </script>
            </div>
    </div>
</div>


            <!-- Modal footer
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div> -->

