<!--  <div class="modal" id="myModal1"> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

<div class="modal-dialog modal-lg">
    <div id="content" class="modal-content">
        <!-- Modal Header-->
        <div class="modal-header">
            <h4 class="modal-title w-100 text-center"><b>PATIENT SUMMARY</b></h4>
        </div>
        <div class="modal-body">
            <form id="myForm" class="needs-validation" novalidate>
                <div class="container">
                    <h4><b>Patient Details</b></h4><br>
                    {% if data1 | length >0 %}
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Patient ID</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[0].patient_id}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Patient Name</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[0].patient_name}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[0].address}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Age</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[0].age}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[0].gender}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Phone</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[0].phone}}</p>
                        </div>
                    </div>
                    {% else %}
                    <h6>No data Available</h6>
                    {% endif %}
                    <br>
                    <h4><b>Past Illness History</b></h4><br>
                    {% if data1 | length >1 %}
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Problem Name</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[1].problem_name}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Body Site</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[1].body_site}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Date of Onset</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[1].datetime_onset}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Severity</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[1].severity}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Procedure Type</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[1].procedure_type}}</p>
                        </div>
                    </div>
                    {% else %}
                    <h6>No data Available</h6>
                    {% endif %}
                    <br>
                    <h4><b>Allergy Details</b></h4><br>
                    {% if data1 | length >2 %}
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Allergy</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[2].substance}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Verification Status</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[2].verification_status}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Allergy Intolerance Type</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[2].allergy_intol_type}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Comment</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[2].comment}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Manifestation</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[2].manifestation}}</p>
                        </div>
                    </div>
                    {% else %}
                    <h6>No data Available</h6>
                    {% endif %}
                    <br>
                    <h4><b>Diagnosis Details</b></h4><br>
                    {% if data1 | length >3 %}
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Problem Name</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[3].problem_diag_name}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Body Site</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[3].body_site}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Date of Onset</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[3].datetime_onset}}</p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Severity</label>
                        <div class="col-sm-10">
                            <p class="mt-2">{{data1[3].severity}}</p>
                        </div>
                    </div>
                    {% else %}
                    <h6>No data Available</h6>
                    {% endif %}
                </div>
            </form>
        </div>
        <div id="editor"></div>
        <div class="text-center">
            <button type="button" class="btn btn-success mb-3" id="cmd">DOWNLOAD</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };
    $('#cmd').click(function () {
        doc.fromHTML($('#content').html(), 15, 15, {
            'width': 700,
            'elementHandlers': specialElementHandlers
        });
        doc.save('Patient_summary.pdf');
    });
</script>