<div class="modal" id="myModal6">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">Past Illness History</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- adding Bootstrap Form here -->
                 <!-- Past illness modal               -->
             <form id="myForm" class="needs-validation" novalidate>
                <div class="container">
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Patient ID :</label>
                        <div class="col-sm-10">
                            <p class="mt-2">123</p>  
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Problem Name</label>
                        <div class="col-sm-10">
                            <p class="mt-2">Cold</p>  
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Body Site</label>
                        <div class="col-sm-10">
                          <p class="mt-2">Nose</p>   
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Date Onset</label>
                        <div class="col-sm-10">
                            <p class="mt-2">20-01-2019</p>  
                           
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Severity</label>
                        <div class="col-sm-10">
                            <p class="mt-2">Low</p>  
                            
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="id" class="col-sm-2 col-form-label">Procedure Type</label>
                        <div class="col-sm-10">
                            <p class="mt-2">Medcines</p>  
                           
                        </div>
                    </div>
                
                   
                   
                    <div style="text-align: center;">
                        <h4>Diagnosis</h4>
                        <button type="button"></button>
                    </div>
                    
                       
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Problem Name</label>
                            <div class="col-sm-10">
                                <p class="mt-3">Insomania</p> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Body Site</label>
                            <div class="col-sm-10">
                                <p class="mt-3">Medcines</p> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Date Onset</label>
                            <div class="col-sm-10">
                                <p class="mt-3">2-10-2021</p> 
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Severity</label>
                            <div class="col-sm-10">
                                <p class="mt-3">Medium</p> 
                                
                            </div>
                        </div>
                        
                     

                   

                    <!-- Allergy Modal -->

                    <h4 class="modal-title w-100 text-center">Allergy</h4>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Substance</label>
                            <div class="col-sm-10">
                                <p class="mt-2">Sulphate</p> 
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Intolerance Type</label>
                            <div class="col-sm-10">
                                <p class="mt-2">Tolerable</p> 
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Comment</label>
                            <div class="col-sm-10">
                                <p class="mt-2">idk</p> 
                              
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Manifest</label>
                            <div class="col-sm-10">
                                <p class="mt-2">Angry</p> 
                                
                            </div>
                        </div>

                </div>
             </form>

                <script>

                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

