<div class="modal" id="myModal7">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">E-Prescription</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


<!--  -->

<!--  -->
            <!-- Modal body -->
            <div class="modal-body">
                <!-- adding Bootstrap Form here -->

                <form id="myForm" class="needs-validation" novalidate>
                    <div class="container">

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Patient ID</label>
                            <div class="col-sm-10">
                                <p class="mt-2">123</p>  
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Prescription ID</label>
                            <div class="col-sm-10">
                                <p class="mt-2 ml-3">3333</p>  
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Doctor ID</label>
                            <div class="col-sm-10">
                                <p class="mt-2">300</p>  
                                
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Medication Item</label>
                            <div class="col-sm-10">
                                <p class="mt-2">crocin</p>  
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Route</label>
                            <div class="col-sm-10">
                                <p class="mt-2">mouth</p>  
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Dosage Instructions</label>
                            <div class="col-sm-10">
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Additional Instructions</label>
                            <div class="col-sm-10">
                                <p class="mt-2">with hot water</p>  
                                
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Reason</label>
                            <div class="col-sm-10">
                                <p class="mt-2">fever</p>  
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Dose</label>
                            <div class="col-sm-10">
                                <p class="mt-2">idk</p>  
                                
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Dose Unit</label>
                            <div class="col-sm-10">
                                <p class="mt-2">5</p>  
                               
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Frequency (Per/Day)</label>
                            <div class="col-sm-10">
                                <p class="mt-2">2/1</p>  
                               
                            </div>
                        </div>
                       
                   
               

                

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Order Status</label>
                            <div class="col-sm-10">
                                <p class="mt-2">Active</p>  
                               
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Date Discontinued</label>
                            <div class="col-sm-10">
                                <p class="mt-2">2-2-2019</p>  
                                
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-sm-2 col-form-label">Date Written</label>
                            <div class="col-sm-10">
                                <p class="mt-2">31-12-2018</p>  
                                
                            </div>
                        </div>
                       
                    </div>
                </form>

                <script>

                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

