<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to Personal Chat Box!!</title>

  </head>
  <body>
      <h1> Welcome to our PERSONAL  CHATROOM {{data}}</h1>
      

        <form action="/room" method ='POST'>
            
              <input type="text" placeholder="Enter Username" name="search" required>
              <input type = "submit">
              <button><a href = "signin">Logout</button>
          </form>

          <p>{{invalid}}</p>
	
  </body>
</html>
