<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Doctor signup</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		 <!--========== BOX ICONS ==========-->
		 <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
		 <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	 
		 <meta http-equiv="X-UA-Compatible" content="ie=edge">
		

		<!-- LINEARICONS -->
		<link rel="stylesheet" href="fonts/linearicons/style.css">
		
		
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="/static/css/patient_register.css">
		<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/team-section.css">
	</head>

	<body>
		 <!--========== SCROLL TOP ==========-->
		 <a href="#" class="scrolltop" id="scroll-top">
			<i class='bx bx-chevron-up scrolltop__icon'></i>
		</a>
		<!--========== HEADER ==========-->
		<header class="l-header" id="header">
			<nav class="nav bd-container">
				<a href="/" class="nav__logo">EAPR</a>
				<div class="nav__menu" id="nav-menu">
					<ul class="nav__list">
						<li class="nav__item"><a href="/" class="nav__link">Home</a></li>
						<li class="nav__item"><a href="patientsignup" class="nav__link">Users</a></li>
						<li class="nav__item"><a href="doctorsignup" class="nav__link">Doctors</a></li>
						<li class="nav__item"><a href="pharmasignup" class="nav__link">Pharmacists</a></li>
						<!-- <li class="nav__item"><a href="#contact" class="nav__link">About Us</a></li> -->
						<li class="nav__item"><a href="signin" class="nav__link">Log-In</a></li>
		
		
						<!-- <li><i class='bx bx-moon change-theme' id="theme-button"></i></li> -->
					</ul>
				</div>
		
				<div class="nav__toggle" id="nav-toggle">
					<i class='bx bx-menu'></i>
				</div>
			</nav>
		</header>
		<form action="/patientregistrationsuccess" method = "POST">

		<h3 id="headd">User's Signup</h3>

		<div class="wrapper">
			<div class="inner">
				<img src="/static/image-1.png" alt="" class="image-1">
				
					
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Enter username" name="uname" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Enter email" name="mail" required>
					</div>
					<div class="form-holder">
						<span class="lnr lnr-lock"></span>
						<input type="password" class="form-control" placeholder="Enter Password" name="psw" id="password" required>
						<span>
							<i class="fas fa-eye" onclick="show()" aria-hidden="true" id="eye"></i> 
					
						  </span>
					</div>

					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Enter Address" name="add" required>
					</div>

					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="number" class="form-control" placeholder="Enter Age" name="age" required>
					</div>

					<div class="form-holder">
						<span class="lnr lnr-user"></span>
						<input type="text" class="form-control" placeholder="Enter Gender" name="gen" required>
					</div>

					<div class="form-holder">
						<span class="lnr lnr-phone-handset"></span>
						<input type="tel" class="form-control" placeholder="Enter Phone" name="phn" required>
					</div>				
					<button>
						<span>Register</span>
					</button>
				</form>
				
			</div>
			
		</div>
		
		<script src="js/jquery-3.3.1.min.js"></script>
		
	</body>
	<script>
		function show() {
		  var password = document.getElementById("password");
		  var icon = document.querySelector(".fas");
	
		  // ========== Checking type of password ===========
		  if (password.type === "password") {
			password.type = "text";
		  } else {
			password.type = "password";
		  }
		}
	  </script>

</html>