<!-- Pharmacist signup form -->
<!-- <!DOCTYPE html>
<html>
  <title>Pharmacist Form</title>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'register.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

  </head>
  <body> -->
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!--========== BOX ICONS ==========-->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
     <!--========== CSS ==========-->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/team-section.css">
  </head>
  <body>
    <!--========== SCROLL TOP ==========-->
    <a href="#" class="scrolltop" id="scroll-top">
      <i class='bx bx-chevron-up scrolltop__icon'></i>
  </a>
  <!--========== HEADER ==========-->
  <header class="l-header" id="header">
    <nav class="nav bd-container">
        <a href="#" class="nav__logo">EAPR</a>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="patientsignup" class="nav__link">Patients</a></li>
                <li class="nav__item"><a href="doctorsignup" class="nav__link">Doctors</a></li>
                <li class="nav__item"><a href="pharmasignup" class="nav__link">Pharmacists</a></li>
                <!-- <li class="nav__item"><a href="#contact" class="nav__link">About Us</a></li> -->
                <li class="nav__item"><a href="signin" class="nav__link">Log-In</a></li>


                <!-- <li><i class='bx bx-moon change-theme' id="theme-button"></i></li> -->
            </ul>
        </div>

        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

    <form action="/pharmaregistrationsuccess" method = "POST">
      <nav id="iconi">
        <a href="/"><i class="fas fa-home fa-4x" style="font-size:48px;color: #048654"></i></a> 
        </nav>
      <h3>Only Authorised Pharmacist can login:)</h3>
     

      <main class="container">
        <h2>Signup</h2>
       <form action="">
        <div class="input-field">
        <input type="text" placeholder="Enter your name" name="uname" required>
        <div class="underline"></div>  
      </div>

        <div class="input-field">
        <input type="text" placeholder="Enter E-mail" name="mail" required>
        <div class="underline"></div>
      </div>

      <div class="input-field">
        <input type="password" placeholder="Enter Password" name="psw" id="password" required>
        <span>
          <i class="fas fa-eye" onclick="show()" aria-hidden="true" id="eye"></i> 
  
        </span>
        <div class="underline"></div>
      </div>

        
        

      <div class="input-field">
        <input type="text" placeholder="Enter Year of Experience" name="yoe" required>
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input type="text" placeholder="Enter Address" name="add" required>
        <div class="underline"></div>
      </div>
      <div class="input-field">
        <input type="tel" placeholder="Enter Phone" name="phn" required>
        <div class="underline"></div>
      </div>
        
      <div class="input-field">
        <input type="text" placeholder="Enter Registration Number" name="rn" required>
        <div class="underline"></div>
      </div>
      <column>
        <input type="submit" value="SignUp">
        <input type="checkbox"  checked="checked" name="remember"> Remember me
        </column>
      </form>
  
      </main>

      
  </body>
  <script>
    function show() {
      var password = document.getElementById("password");
      var icon = document.querySelector(".fas");

      // ========== Checking type of password ===========
      if (password.type === "password") {
        password.type = "text";
      } else {
        password.type = "password";
      }
    }
  </script>
</html>