<section class="our-webcoderskull padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
      <h2 class="section-title contact__initial">Meet Our Team</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 318px;">
          <figure><img src="./../static/team-images/dinesh.jpg" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Dinesh Kumar</a></h3>
          <p>Full Stack Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 318px;">
          <figure><img src="./../static/team-images/shruti.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="#">Shruti Gupta</a></h3>
          <p>Full Stack Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 318px;">
          <figure><img src="./../static/team-images/simran.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Simran Gera</a></h3>
          <p>Full Stack Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 318px;">
          <figure><img src="./../static/team-images/vinay.jpg" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Vinay Chauhan</a></h3>
          <p>Full Stack Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 318px;">
          <figure><img src="./../static/team-images/prabhpreet.jpg" class="img-responsive" alt=""></figure>
          <h3><a href="#">Prabhpreet Singh</a></h3>
          <p>Full Stack Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 318px;">
          <figure><img src="./../static/team-images/bhanu.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Bhanu Gupta</a></h3>
          <p>Full Stack Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
      <li class="col-12 col-md-6 col-lg-3">
        <div class="cnt-block equal-hight" style="height: 318px;">
          <figure><img src="./../static/team-images/rohit.jpeg" class="img-responsive" alt=""></figure>
          <h3><a href="http://www.webcoderskull.com/">Rohit Kashyap</a></h3>
          <p>Full Stack Developer</p>
          <ul class="follow-us clearfix">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>